

params.adapter_seq = "AGATCGGAAGAGCACACGTCTGAACTCCAGTCAC"
params.outdir = "$baseDir/results"

profiles {

    local {
        process.executor = 'local'
        process.cpus = 4
        process.container = 'shub://bozmik/singularity_image'
        singularity.enabled = true
        params.reads = "$baseDir/data/fastq/*.fq"
        params.annotation_gtf = "$baseDir/references/salmonella/Salmonella_combined_2.gtf"
        params.genome_fasta = "$baseDir/references/host_pathogen/Salmonella_human_cut.fasta"
    }

    clusterHZI {
        process.executor = 'sge'
        process.queue = 'long'
        process.memory = '10GB'
        cpus = 16
        cacheDir = remove img
        singularity.enabled = true
    }

    cuba {
        process.executor = 'local'
        process.cpus = 4
        process.container = 'Dual_RNAseq.img'
        singularity.enabled = true
        params.reads = "/guantanamo/bmg/Salmonella/*.fq"
        params.annotation_gtf = "/guantanamo/bmg/host_pathogen/Salmonella_combined_2.gtf"
        params.genome_fasta = "/guantanamo/bmg/host_pathogen/Salmonella_human_cut.fasta"
    }



}



